:root {
    --dark: rgb(40, 74, 78);
    --light: rgb(226, 241, 239);
}

.circle {
    border: 2px solid var(--dark);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--light);
    cursor: pointer;
}
