@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

body {
    font-family: "Space Mono", monospace;
    color: rgb(40, 74, 78);
    background-image: linear-gradient(
        180deg,
        rgb(122, 191, 255),
        rgb(122, 255, 117),
        rgb(255, 244, 97)
    );
    background-repeat: no-repeat;
    height: 100vh;
}

.circles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    place-items: center;
    max-width: 800px;
    margin: 30px auto;
}

.buttons {
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
